*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    margin:30px;
    height: 300px;
    width: 300px;
    border:2px solid black;

}

.box1{
    background-image: linear-gradient(orange,white,green);
}

.box2{

    background-image: linear-gradient(circle,orange,white,green);

}

.box3{
    border-radius: 50%;
    background-image: conic-gradient(orange,white,green,orange);
}

  .box4{
    padding: 20px;
    background-image: linear-gradient(white,lightblue);
  }  

  .box5{
    border: 2px solid green;
    height: 500px;
    width: 80%;
    background-image: url("https://th.bing.com/th/id/OIP.QaIE6Q78P63J0fKl5uyPJwHaEK?rs=1&pid=ImgDetMain" );
    background-size: cover;
    background-repeat:no-repeat ;

   /* background-size: contain;
    background-position: 200px,0px; */
  }

  .box5 h1{
    font-family: cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
  }

  .container{
    height: 100vh;
    background: url("https://static.vecteezy.com/system/resources/previews/002/786/165/large_2x/new-york-city-manhattan-skyline-2017-free-photo.jpg"),linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 255, 0.356));
    background-size:cover;
    background-blend-mode: overlay;
    padding-top: 50%;
    background-repeat:no-repeat ;
    

  }

  .container h1{
    font-family: sans-serif;
    color:rgb(49, 19, 97);
     margin-top: 10%;
     font-size: 60px;
    text-align: center;
  }
